.invoice-preview {
  width: 40%;
  padding: 10px;
  display: flex;
  justify-content: center;
}

.invoice-container {
  background: #ffebcd;
  padding: 20px;
  border-radius: 10px;
}

.invoice {
  background: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
